---
import { SITE } from "@data/constants";

const docs = "/welcome-to-docs/";
---

<span class="site-title flex">
  <a class="main-logo" href={SITE.url} aria-label="Gruntworks">
    <span>Gruntworks</span>
  </a>
  <a class="docs-logo" href={docs} aria-label="Gruntworks Docs">
    <span>Docs</span>
  </a>
</span>

<style>
  .site-title {
    gap: 1rem;
    margin-right: 1rem;
  }
  .site-title a {
    display: flex;
    text-decoration: none;
    color: inherit;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
</style>