---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroHeatworks from "@components/sections/landing/HeroHeatworks.astro";
---

<MainLayout title="Heatworks Demo | Gruntworks">
  <HeroHeatworks />
  <!-- You can add other page content below the hero section -->
  <div class="h-96 bg-neutral-800">
    <!-- Placeholder for content after hero -->
  </div>
</MainLayout>
