---
interface Props {
  maxWidth?: string;
  class?: string;
}

const { maxWidth = "max-w-7xl", class: className } = Astro.props;
---

<!-- src/components/ui/Container.astro -->
<div class:list={["mx-auto flow-root w-full", maxWidth, className]}>
  <slot />
</div>
